{% if beacon_node_endpoints | default('') %}
CHARON_BEACON_NODE_ENDPOINTS={{ beacon_node_endpoints }}
{% endif %}
{% if builder_api | default('') %}
CHARON_BUILDER_API={{ builder_api }}
{% endif %}
{% if feature_set | default('') %}
CHARON_FEATURE_SET={{ feature_set }}
{% endif %}
{% if feature_set_disable | default('') %}
CHARON_FEATURE_SET_DISABLE={{ feature_set_disable }}
{% endif %}
{% if feature_set_enable | default('') %}
CHARON_FEATURE_SET_ENABLE={{ feature_set_enable }}
{% endif %}
{% if jaeger_address | default('') %}
CHARON_JAEGER_ADDRESS={{ jaeger_address }}
{% endif %}
{% if jaeger_service | default('') %}
CHARON_JAEGER_SERVICE={{ jaeger_service }}
{% endif %}
CHARON_LOCK_FILE={{ ansible_env.HOME }}/node-{{ node_index }}/cluster-lock.json
CHARON_PRIVATE_KEY_FILE={{ ansible_env.HOME }}/node-{{ node_index }}/charon-enr-private-key
{% if validator_api_address | default('') %}
CHARON_VALIDATOR_API_ADDRESS={{ validator_api_address }}
{% endif %}
{% if monitoring_address | default('') %}
CHARON_MONITORING_ADDRESS={{ monitoring_address }}
{% endif %}
{% if p2p_tcp_address | default('') %}
CHARON_P2P_TCP_ADDRESS={{ p2p_tcp_address }}
{% endif %}
{% if p2p_relays | default('') %}
CHARON_P2P_RELAYS={{ p2p_relays }}
{% endif %}
{% if p2p_allowlist | default('') %}
CHARON_P2P_ALLOWLIST={{ p2p_allowlist }}
{% endif %}
{% if p2p_denylist | default('') %}
CHARON_P2P_DENYLIST={{ p2p_denylist }}
{% endif %}
{% if p2p_disable_reuseport | default('') %}
CHARON_P2P_DISABLE_REUSEPORT={{ p2p_disable_reuseport }}
{% endif %}
{% if p2p_external_hostname | default('') %}
CHARON_P2P_EXTERNAL_HOSTNAME={{ p2p_external_hostname }}
{% endif %}
{% if p2p_external_ip | default('') %}
CHARON_P2P_EXTERNAL_IP={{ p2p_external_ip }}
{% endif %}
{% if log_format | default('') %}
CHARON_LOG_FORMAT={{ log_format }}
{% endif %}
{% if log_level | default('') %}
CHARON_LOG_LEVEL={{ log_level }}
{% endif %}
{% if no_verify | default('') %}
CHARON_NO_VERIFY={{ no_verify }}
{% endif %}
{% if loki_addresses | default('') %}
CHARON_LOKI_ADDRESSES={{ loki_addresses }}
{% endif %}
{% if loki_service | default('') %}
CHARON_LOKI_SERVICE={{ loki_service }}
{% endif %}
{% if simnet_beacon_mock | default('') %}
CHARON_SIMNET_BEACON_MOCK={{ simnet_beacon_mock }}
{% endif %}
{% if simnet_validator_keys_dir | default('') %}
CHARON_SIMNET_VALIDATOR_KEYS_DIR={{ simnet_validator_keys_dir }}
{% endif %}
{% if simnet_validator_mock | default('') %}
CHARON_SIMNET_VALIDATOR_MOCK={{ simnet_validator_mock }}
{% endif %}
{% if synthetic_block_proposals | default('') %}
CHARON_SYNTHETIC_BLOCK_PROPOSALS={{ synthetic_block_proposals }}
{% endif %}
