[Unit]
Description=Geth Execution Client
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ baremetal_user }}
Group={{ baremetal_group }}
ExecStart={{ baremetal_bin_dir }}/geth \
  --{{ beacon_network }} \
  --datadir={{ baremetal_data_dir }}/geth \
  --port={{ geth_p2p_port }} \
  --http \
  --http.addr=0.0.0.0 \
  --http.port={{ geth_http_port }} \
  --http.api=eth,net,web3 \
  --http.vhosts=* \
  --authrpc.addr=127.0.0.1 \
  --authrpc.port={{ geth_engine_port }} \
  --authrpc.jwtsecret={{ beacon_jwt_file }} \
  --authrpc.vhosts=*
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
